body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.creative {
  color: rgb(6, 6, 120);
}
.tile-image {
  width: 350px;
  margin-right: 30px;
}
.left-card {
  float: left;
}
.right-card {
  float: right;
}
.card-text {
  width: 300px;
  float: right;
  
}
.description {
  float: right;
}
h2 {
  margin: 0 20px;
}
@media (max-width: 680px) (min-width :480px) {
  .logo {
    width: 100px;
  }
}
h1 {
  width: 800px;
}


